@font-face {
	font-family: eva;
	src: url("/assets/fonts/NIS-JTC-Win-M9.ttf");
}

body {
	background-color: white;
	font-family: eva;
	display: flex;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#shinji {
	height: 100vh;
	width: auto;
	object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	height: fit-content;
}

div {
	flex: 1;
	font-size: 5rem;
}

h5 {
	margin-left: 100px;
}

a {
	text-decoration: none;
	color: black;
}
