:root {
	--color-red: #ff657a;
	--color-maroon: #f29ba7;
	--color-peach: #ff9b5e;
	--color-yellow: #eccc81;
	--color-green: #a8be81;
	--color-teal: #9cd1bb;
	--color-sky: #a6c9e5;
	--color-sapphire: #86aacc;
	--color-blue: #5d81ab;
	--color-lavender: #66729c;
	--color-mauve: #b18eab;
	--color-bright-pink: #d64b6a;
	--color-bright-orange: #e89e3d;
}

@font-face {
	font-family: eva;
	src: url("/assets/NIS-JTC-Win-M9.ttf");
}

body {
	background-color: var(--color-bright-orange);
	color: var(--frappe-text);
	font-family: eva;
	font-size: 16px;
	line-height: 1.6;
	padding: 0;
	margin: 0;
	display: flex;
	overflow: hidden;
}

body header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: var(--color-bright-orange);
}

body nav {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 50px;
	left: 0;
	height: calc(100% - 50px);
	width: 200px;
	background-color: var(--color-bright-orange);
}

body main {
	margin-top: 50px;
	margin-left: 200px;
	flex: 1;
	background-color: var(--color-bright-pink);
	overflow: auto;
	z-index: 1;
	min-height: calc(100vh - 50px);
	border-radius: 20px 0 0 0;
	padding: 10px 10px;
}
