:root {
	--color-red: #ff657a;
	--color-maroon: #f29ba7;
	--color-peach: #ff9b5e;
	--color-yellow: #eccc81;
	--color-green: #a8be81;
	--color-teal: #9cd1bb;
	--color-sky: #a6c9e5;
	--color-sapphire: #86aacc;
	--color-blue: #5d81ab;
	--color-lavender: #66729c;
	--color-mauve: #b18eab;
	--color-bright-pink: #d64b6a;
	--color-bright-orange: #e89e3d;
}

@font-face {
	font-family: eva;
	src: url("/assets/NIS-JTC-Win-M9.ttf");
}

body {
	background-color: var(--color-bright-orange);
	color: var(--frappe-text);
	font-family: eva;
	font-size: 16px;
	line-height: 1.6;
	padding: 0;
	margin: 0;
	display: flex;
	overflow: hidden;
}

body header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: var(--color-bright-orange);
}

body nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: right;
	position: fixed;
	top: 50px;
	left: 0;
	height: calc(100% - 50px);
	width: 200px;
	background-color: var(--color-bright-orange);
	gap: 5px;
	user-select: none;
}

body nav div {
	float: left;
	width: fit-content;
	background-color: #5c9bee;
	border-radius: 0 20px 20px 0;
	border-style: solid solid solid none;
	padding: 5px 20px 5px 10px;
	transform-origin: left;
}

body nav div:hover {
	animation: hover 0.1s forwards;
}

@keyframes hover {
	0% {
		background-color: #5c9bee;
		padding-right: 20px;
	}
	100% {
		background-color: #5461c8;
		padding-right: 50px;
	}
}

body nav footer {
	border-style: solid none none none;
	position: fixed;
	bottom: 0;
	left: 0;
	width: inherit;
	height: 20px;
}

body main {
	margin-top: 50px;
	margin-left: 200px;
	flex: 1;
	background-color: var(--color-bright-pink);
	overflow: auto;
	z-index: 1;
	min-height: calc(100vh - 50px);
	border-radius: 20px 0 0 0;
	border-style: solid;
	padding: 10px 10px;
}

.stripe {
	background: linear-gradient(
		to right,
		#5461c8,
		#5461c8 12.5%,
		#c724b1 12.5%,
		#c724b1 25%,
		#e4002b 25%,
		#e4002b 37.5%,
		#ff6900 37.5%,
		#ff6900 50%,
		#f6be00 50%,
		#f6be00 62.5%,
		#97d700 62.5%,
		#97d700 75%,
		#00ab84 75%,
		#00ab84 87.5%,
		#00a3e0 87.5%,
		#00a3e0
	);
	background-size: 200% 100%;
	animation: moveStripe 10s linear infinite reverse;
}

.hover-stripe *:not(.stripe):hover {
	background: linear-gradient(
		to right,
		#5461c8,
		#5461c8 12.5%,
		#c724b1 12.5%,
		#c724b1 25%,
		#e4002b 25%,
		#e4002b 37.5%,
		#ff6900 37.5%,
		#ff6900 50%,
		#f6be00 50%,
		#f6be00 62.5%,
		#97d700 62.5%,
		#97d700 75%,
		#00ab84 75%,
		#00ab84 87.5%,
		#00a3e0 87.5%,
		#00a3e0
	);
}

@keyframes moveStripe {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 200% 0;
	}
}
